body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(231, 235, 240);
}

html,
body,
* {
  box-sizing: border-box;
}

#app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ag-tool-panel-wrapper {
  .ag-react-container {
    width: 100%;
  }
}
